body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(58, 97, 99);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}
.App {  
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: helvetica;
}
.itemShow{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 60rem;
  height: 25rem;
  background-color: cadetblue;
  box-shadow: 2px 2px 5px rgb(47, 79, 81), -2px -2px 10px rgb(117, 195, 197), -2px -2px 5px rgb(47, 79, 81) inset, 2px 2px 5px rgb(139,232,235) inset;
  border-radius: 25px;
}

.itemShow img {
  float: left;
  max-height: 20em;
  max-width: 20em;
  border-radius: 0px;
  background: #5f9ea0;
  width: 100%;
  box-shadow: inset 10px 10px 20px #4c7e80, inset -10px -10px 20px #72bec0;
}

.itemData {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  height: 20em;
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(27, 27, 50, 0.8);
  box-shadow: 2px 2px 5px rgb(47, 79, 81), -2px -2px 5px rgb(139, 232, 235);
  li {
    text-align: center;
    width: 100%;
    margin-top: 0.5em;
  }
  button {
    font-size: inherit;
    background: none;
    border: none;
    padding: 0;
    color: white;
    text-decoration: none;
    cursor: pointer;
    background-color: #5f9ea0;
    box-shadow: 2px 2px 5px rgb(47, 79, 81), -2px -2px 5px rgb(139, 232, 235);
    width: 50%;
    margin-top: 1em;
    height: 20px;
    border-radius: 25px;
  }
}

.update-button {
  font-size: inherit;
    background: none;
    border: none;
    padding: 0;
    color: white;
    text-decoration: none;
    cursor: pointer;
    background-color: #5f9ea0;
    box-shadow: 2px 2px 5px rgb(47, 79, 81), -2px -2px 5px rgb(139, 232, 235);
    width: 50%;
    margin-top: 1em;
    height: 20px;
    border-radius: 25px;
}

.itemData h2 {
  border-bottom: 1px solid white;
  width: 90%;
}

.itemCard {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 20rem;
  height: 30rem;
  background-color: cadetblue;
  box-shadow: 2px 2px 5px rgb(47, 79, 81), -2px -2px 10px rgb(117, 195, 197), -2px -2px 5px rgb(47, 79, 81) inset, 2px 2px 5px rgb(139,232,235) inset;
  border-radius: 25px;
  margin: 1em;
  ul {
    display: block;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  li {
    text-align: center;
    width: 15rem;
    list-style-type: none;
    margin-top: 5px;
    overflow: none;
    box-shadow: 2px 2px 5px rgb(47, 79, 81), -2px -2px 5px rgb(139, 232, 235);
  }
}

.index-name {
  text-decoration: none;
}

.itemImg{
  height: auto;
  width: 75%;
}

.header{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(27, 27, 50, 0.8);
  border-bottom: 3px solid cadetblue;
  margin-bottom: 10%;
  margin-top: 0;
}

.header-link {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.header-title {
  text-decoration: none;
}

.header-link:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 5px 10px rgba(145, 92, 182, .4);
  background-color: rgba(145, 92, 182, .4);
  border-radius: 5px;
}

.header h1 {
  color: white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding-right: 1em;
  padding-left: 1em;
}

.header h1:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 5px 10px rgba(145, 92, 182, .4);
  background-color: rgba(145, 92, 182, .4);
  border-radius: 5px;
}

.header button {
    font-size: 1.5em;
    background: none;
    border: none;
    padding: 0;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

.header button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 5px 10px rgba(145, 92, 182, .4);
  background-color: rgba(145, 92, 182, .4);
  border-radius: 5px;
}

.footer {
  height: 50px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(27, 27, 50, 0.8);
  margin-top: 10%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 3px solid cadetblue;
}

.footer h2 {
  color: white;
  margin-right: 1em;
}

.container{
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.user{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40rem;
  height: 74.4rem;
  background-color: cadetblue;
  box-shadow: 2px 2px 5px rgb(47, 79, 81), -2px -2px 5px rgb(139, 232, 235);

}


.newitem {
  background-color: rgba(27, 27, 50, 0.8);
  border: 3px solid cadetblue;
  height: 35vh;
  width: 20vw;
  padding: 2em;
}

.newitem form {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.newitem form input[type=text]{
  margin-bottom: 1rem;
  width: 20rem;
}

.newitem form input[type=submit]{
  font-size: inherit;
    background: none;
    border: none;
    padding: 0;
    color: white;
    text-decoration: none;
    cursor: pointer;
    background-color: #5f9ea0;
    box-shadow: 2px 2px 5px rgb(47, 79, 81), -2px -2px 5px rgb(139, 232, 235);
    width: 30%;
    margin-top: 1em;
    height: 20px;
    border-radius: 25px;
}

.newitem form label {
  margin-top: 1rem;
}

.description-input {
  resize: none;
  width: 30em;
  height: 10em;
}



// .zipcodeForm {
//   display: block;
// }

.hidden{
  display: none;
}

.itemUpdate {
  background-color: rgba(27, 27, 50, 0.8);
  border: 3px solid cadetblue;
  height: 35vh;
  width: 20vw;
  padding: 2em;
}

.itemUpdate form {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.itemUpdate form input[type=submit]{
  font-size: inherit;
    background: none;
    border: none;
    padding: 0;
    color: white;
    text-decoration: none;
    cursor: pointer;
    background-color: #5f9ea0;
    box-shadow: 2px 2px 5px rgb(47, 79, 81), -2px -2px 5px rgb(139, 232, 235);
    width: 30%;
    margin-top: 1em;
    height: 20px;
    border-radius: 25px;
}

.itemUpdate form input[type=text]{
  margin-bottom: 1rem;
  width: 20rem;
}

.itemUpdate form textarea {
  resize: none;
  width: 30em;
  height: 10em;
  font-family: inherit;
  margin-bottom: 1rem;
}

.about {
  background-color: rgba(27, 27, 50, 0.8);
  height: 45vh;
  width: 80vw;
  border: 3px solid cadetblue;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h2 {
  color: white;
  font-size: 40px;
}

.about h3 {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid cadetblue;
}

.about-link {
  text-decoration: none;
  color: cadetblue;
}

.about a {
  text-decoration: none;
  color: cadetblue;
}